@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* navbar start */
.navbar {
  /* margin: 0 auto; */
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-items {
  display: flex;
}
.logo {
  display: flex;
  flex-direction: row;
}
.logo p {
  width: 43px;
  height: 52px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.navbar-left {
  width: 50%;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.navbar-left span {
  margin-right: 12px;
  color: #5b5f5d;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-btn {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-color: #0aad3b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-btn p {
  padding: 10px;
}

.navbar-language {
  display: flex;
  justify-content: space-between;
}
.navbar-language img {
  margin: 10px;
  display: flex;
  width: 32px;
  height: 32px;
}
/* navbar end */
/* body start */
.body {
  width: 1200px;
  height: 820px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.sections {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-text span {
  color: #0aad3b;
}

.section-left .section-text {
  font-weight: 500;
  font-size: 80px;
}
.section-left p {
  font-size: 28px;
}
.section-logo {
  color: #0aad3b;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.logo-1 {
  align-items: center;
  margin-right: 12px;
}
.section-right {
  margin-left: 70px;
  display: flex;
  flex-direction: row;
}
.section-right img {
  display: flex;
  flex-direction: row;
  padding: 8px;
}
/* .image-samsung {
  display: flex;
  transform: translate3d(30px, 30px, 30px);
} */
/* body end */
/* section-2 start */
.section-2 {
  width: 1200px;
  /* height: 1100px; */
  margin: auto;
}
.section-item {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
/* section-2 end */

/* last section start */
.last-section {
  width: 100%;
  height: 320px;
  /* top: 1098px; */
  background-color: #0aad3b;
  color: white;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 0px 200px;
}
.last-item {
  /* margin-right: 50px */
  display: flex;
  /* flex-direction: row; */
  /* width: 50%; */
}
.last-left {
  /* display: flex;
  \\ */
  /* flex: 1; */
  /* margin: 50px; */
}
.last-right {
  margin-right: 20px;
}
.last-left strong {
  font-size: 56px;
  font-weight: 700;
}
.last-left p {
  font-size: 28px;
}
.qr-code {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}
.qr-code p {
  /* position: static;
   */
  width: 160px;
  height: 160px;
  right: 20px;
  /* top: calc(50% - 160px/2 - 42px); */
  background: #ffffff;
  border-radius: 16px;
}
.code-first {
  margin-right: 90px;
}
.two-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 10px;
}
.two-logo img {
  margin-right: 40px;
}
.footer-items {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-left span {
  font-size: 14px;
  margin-right: 30px;
}
.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-right span {
  font-size: 16px;
  margin-right: 45px;
}
.footer-right img {
  height: 24px;
}

/* footer end */

/* адаптивная верстка 1200px */
@media (max-width: 1440px) {
  .container {
    width: 1200px;
  }
  .last-item {
    /* width: 35%; */
    display: flex;
    align-items: center;
  }
}

/* адаптивная верстка 768px */
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
  .navbar {
    /* width: 768px; */
    display: flex;
    /* align-items: center; */
  }
  .navbar-items {
    display: flex;
    justify-content: space-between;
  }
  .logo img {
    width: 110px;
    /* height: 40px; */
  }
  /* .phone-img{

  } */
  .navbar-left {
    display: flex;
    justify-content: space-between;
  }
  .navbar-btn {
    width: 32px;
    height: 32px;
    border-radius: 40px;
    background-color: #0aad3b;
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
  }
  .navbar-btn .phone-num {
    display: none;
  }
  .navbar-language {
    display: flex;
    justify-content: space-between;
  }
  .navbar-left span {
    display: none;
  }
  /* .sections{
    width: 100%; */
  /* } */
  .body{
    height: 550px;
  }
  .section-left .section-text {
    font-weight: 500;
    font-size: 40px;
  }
  .section-left p {
    font-size: 20px;
  }
  .section-left img {
    /* color: #0aad3b; */
    width: 160px;
    display: flex;
    flex-direction: row;
    /* padding: 8px; */
  }
  .section-right img {
    width: 360px;
  }
  .section-item {
    display: flex;
    flex-direction: column;
  }
  .products-part {
    font-size: 24px;
    width: 720px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .products-part p {
    font-size: 16px;
  }
  .arrow-part {
    font-size: 24px;
    width: 720px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .arrow-part p {
    font-size: 16px;
  }
  .delivery-part {
    font-size: 24px;
    width: 720px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .delivery-part p {
    font-size: 16px;
  }
  .last-left strong {
    font-size: 28px;
  }
  .last-left p {
    display: none;
  }
  .last-section {
    height: 185px;
    width: 100%;
  }
  .last-item {
    display: flex;
    flex-direction: column;
  }
  .qr-code {
    display: none;
  }
  .two-logo img {
    width: 135px;
  }
  .footer-right{
    font-size: 14px;
  }
  .footer-left span{
    font-size: 12px;
  }
  /* .footer-right:nth-of-type(1) {
    display: flex;
    order: 1;
  } */
}

/* адаптивная верстка 320px */
@media (max-width: 320px) {
  .logo img{
    width: 110px;
  }
}
